.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: var(--main-font)!important;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-cta {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.paragraph-bigger.cc-bigger-white-light {
  opacity: 0.6;
}

.button {
  margin-left: 29px;
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-jumbo-button.cc-jumbo-white {
  margin-top: 22px;
  margin-left: -527px;
  padding-top: 0px;
  background-color: #fff;
  color: #000;
}

.button.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.button.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.button.cc-contact-us {
  position: relative;
  z-index: 5;
  border-radius: 10px;
  background-color: #34a5ea;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3898EC;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-light {
  margin-left: 35px;
  opacity: 0.9;
}

.label.cc-blog-date {
  margin-top: 20px;
  opacity: 0.6;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.paragraph-light {
  margin-left: 30px;
  opacity: 0.6;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.heading-jumbo.cc-white-heading-jumbo {
  color: #fff;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Lato, sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  margin-right: -41px;
  margin-left: -49px;
  padding: 30px 0px 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  width: 106%;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 5px 50px 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.logo-image {
  display: block;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.cta-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.intro-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  margin-right: -10px;
  margin-bottom: 48px;
  margin-left: -102px;
  padding-right: 0px;
  padding-bottom: 66px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #8d9add;
  background-image: url('../images/Login_Background.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  -o-object-fit: none;
  object-fit: none;
}
.intro-header-blogs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  margin-right: 0px;
  margin-bottom: 48px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #f0f0f0;
  -o-object-fit: none;
  object-fit: none;
  overflow: hidden!important;
}
.intro-header-brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  margin-right: 0px;
  margin-bottom: 48px;
  margin-left: -102px;
  padding-right: 0px;
  padding-bottom: 66px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #8d9add;
  background-image: url('../images/Login_Background.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  -o-object-fit: none;
  object-fit: none;
}
.intro-header-causes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  margin-right: -30px;
  margin-bottom: 28px;
  margin-left: -32px;
  padding-right: 0px;
  padding-bottom: 66px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #8d9add;
  background-image: url('../images/people.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  -o-object-fit: none;
  object-fit: none;
}
.intro-header-wwr {
  display: flex;
  overflow: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  padding-right: 0px;
  padding-bottom: 66px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fff;
  background-image: url('../images/bg-2.png');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  -o-object-fit: none;
  object-fit: none;
}

.intro-header-wwr2 {
  display: flex;
  overflow: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fff ;
  -o-object-fit: none;
  object-fit: none;
}
.intro-header-video {
  display: flex;
  height: auto;
  width: 100%;
  min-height: auto;
  min-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: right;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fff;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  object-fit: none;
}

.brands-video {
display: flex;
height: auto;
width: 100%;
min-height: auto;
min-width: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-pack: center;
justify-content: right;
-webkit-box-align: center;
align-items: center;
border-radius: 0px;
background-color: #fff;
background-position: 0px 0px;
background-size: cover;
background-repeat: no-repeat;
color: #fff;
object-fit: none;
}
.causes-video {
display: flex;
height: auto;
width: 100%;
min-height: auto;
min-width: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
-webkit-box-pack: center;
justify-content: right;
-webkit-box-align: center;
align-items: center;
border-radius: 0px;
background-color: #fff;
background-position: 0px 0px;
background-size: cover;
background-repeat: no-repeat;
color: #fff;
object-fit: none;
}
.intro-header.cc-subpage {
  height: 480px;
  background-color: #000;
  background-image: none;
  color: #fff;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}
.intro-content-causes {
  width: 100%;
  max-width: 1140px;
  text-align: center;
  padding: 200px;
  margin: auto;
}
.cat-content {
  width: 100%;
  max-width: 1050px;
  margin: auto;
}
.intro-content-wwr {
  width: 100%;
  max-width: 1140px;
  text-align: center;
  padding: 200px;
  margin: auto;
}
.intro-content .cc-homepage {
  margin-bottom: 20px;
}

.motto-wrap {
width: 80%;
margin-top: 50px;
margin-right: auto;
margin-bottom: 20px;
margin-left: auto;
text-align: center;
padding-top: 70px;
}


.about-story-wrap {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.our-services-grid {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  -ms-grid-rows: auto 60px auto;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-heading-wrap {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.service-icon {
  margin-bottom: 30px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  display: block;
  width: 70%;
  margin: 100px auto;
}

.contact-form-wrap {
  padding: 45px 50px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

.contact-form-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 2.5fr 80px 1fr;
  grid-template-columns: 2.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.details-wrap {
  margin-bottom: 30px;
}

.get-in-touch-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-form-heading-wrap {
  margin-bottom: 40px;
}

.contact-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 400;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.our-contacts {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-areas: ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-team-pic {
  height: 150px;
  margin-bottom: 30px;
  background-color: #f4f4f4;
}

.team-pic {
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
}

.team-members {
  margin-bottom: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.team-member-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-member-name {
  margin-bottom: 5px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.projects-grid {
  margin-bottom: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: "." "." ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 30px auto 30px auto;
  grid-template-rows: auto auto auto;
}

.project-name-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: 0.8;
}

.project-name-link:active {
  opacity: 0.7;
}

.project-cover-link {
  margin-bottom: 40px;
}

.project-cover-link:hover {
  opacity: 0.8;
}

.project-cover-link:active {
  opacity: 0.7;
}

.project-overview-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.project-overview-header.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50% 50%;
}

.project-details-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-pics {
  margin-bottom: 120px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  display: block;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.blog-preview-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 45px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: cover;
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}

.blog-preview-image:hover {
  opacity: 0.8;
}

.blog-preview-image:active {
  opacity: 0.7;
}

.blog-summary-wrap {
  width: 70%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: left;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: 0.8;
}

.blog-heading-link:active {
  opacity: 0.7;
}

.contact-email-link {
  margin-bottom: 5px;
  opacity: 0.6;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: 0.8;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-section-wrap {
  margin-bottom: 30px;
  max-width: 400px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  font-weight: 400;
}

.about-grid {
  margin-bottom: 0px;/*80*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 0px; /*30*/
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-grid.cc-about-2 {
  grid-template-areas: ". .";
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.intro-text {
  width: 80%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.collection-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.work-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog-heading {
  margin-bottom: 60px;
  text-align: center;
}

.blog-preview-wrap {
  width: 33.33%;
  padding-right: 45px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.collection-list-wrapper {
  margin-bottom: 120px;
}

.business-article-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  text-decoration: none;
}

.business-article-heading:hover {
  opacity: 0.8;
}

.business-article-heading:active {
  opacity: 0.7;
}

.image {
  text-align: center;
}

.heading {
  margin-top: 36px;
  margin-bottom: 11px;
  padding-top: 151px;
  padding-bottom: 5px;
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transition: opacity 325ms ease;
  transition: opacity 325ms ease;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 700;
  cursor: auto;
}

.heading-brands {
  margin-top: 20px;
  margin-bottom: 11px;
  padding-top: 140px;
  padding-bottom: 5px;
  padding-left: 5px;
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transition: opacity 325ms ease;
  transition: opacity 325ms ease;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 700;
  cursor: auto;
}

.wwr-animation {
  padding-top: 20px;
  padding-bottom: 20px;
  filter: blur(0px);
  transition: opacity 325ms ease;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 500;
  cursor: auto;
  text-align: center;
  font-size: 28px;
  line-height: normal;
}

.tittle-brands {
margin: auto;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 200px;
padding-right: 200px;
-webkit-filter: blur(0px);
filter: blur(0px);
font-family: Ubuntu, Helvetica, sans-serif;
color: #000;
font-weight: 600;
cursor: auto;
text-align: center;
}
.tittle-causes {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 600;
  cursor: auto;
  text-align: center;
  }
.tittle-wwr {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 600;
  cursor: auto;
  text-align: center;
  }
.image-2 {
  margin-top: 1px;
  margin-left: -13px;
  padding-top: 111px;
  -webkit-transition: top 900ms cubic-bezier(.491, 1.295, .509, .746);
  transition: top 900ms cubic-bezier(.491, 1.295, .509, .746);
}

.button-2 {
  display: block;
  overflow: visible;
  margin: 14px 36px -1px 88px;
  padding-right: 13px;
  padding-bottom: 1px;
  background-color: #34a5ea;
}

.button-3 {
  border-radius: 7px;
}

.image-3 {
  margin-bottom: -3px;
  padding-bottom: 2px;
}

.text-block {
  font-weight: 600;
}
.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  font-weight:700;
  width: 100%;
  transition: all 1s;
  background-color: white;
}
.home-sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  font-weight:700;
  width: 100%;
  transition: all 1s ease;
  color: white
}
.scroll-nav {
position: -webkit-sticky;
position: sticky;
top: 0px;
z-index: 3;
font-weight:700;
background-color:  white;
width: 100%;
color:black !important;
}
.scroll-font{
position: relative;
vertical-align: top;
text-decoration: none;
color: black;
text-align: left;
margin-left: auto;
margin-right: auto;
white-space: nowrap; 
}
.scroll-font:hover{
  color:#3898EC
}
.scroll-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: -10px;
  width: 1em;
  height: 1em;
  color: #000;
}
.dropdown-item{
  padding: 10px 20px!important;
  font-family: Montserrat, sans-serif!important;
}
.space-1{
  position: relative;
  bottom: 4px;
}
::after { content:""; display:block; clear:both; overflow:hidden} 

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-index {
  display: block;
  height: 100px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  width: auto;
}

.nav-logo {
  width: auto;
  height: 100%;
  padding-left: 0px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px!important;
  color: black;;
  text-decoration: none;
}

.home-nav-link {
display: block;
margin-right: 0px;
margin-left: 0px;
padding: 10px 0px;
text-decoration: none;
color: white;
}
.nav-link:hover {
  text-decoration: underline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.container-2 {
  padding-right: 305px;
  padding-left: 0px;
}

.navbar {
  margin-bottom: 0px;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.brand {
  position: fixed;
  margin-bottom: 11px;
  background-image: url('../images/Shareity-Logo-Transparent-.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.button-4 {
  padding-left: 0px;
}

.dropdown {
  left: 1px;
}

.dropdown-toggle {
  padding-right: 40px;
}

.dropdown-toggle-2 {
  margin-top: 0px;
  padding-top: 26px;
  padding-right: 39px;
}

.nav-link-2 {
  padding-top: 26px;
}

.dropdown-link {
  border-radius: 0px;
}

.button-5 {
  border-radius: 7px;
}

.feature-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.customer-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  /*align-items: center;*/
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  position: -webkit-sticky;
  position: sticky;
  overflow: visible;
  width: 150%;
  height: 150%;
  margin-left: -31px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph {
  margin-right: 50px;
  padding-right: 34px;
}

.heading-2 {
  padding-right: 43px;
}

.feature-image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-2 {
  padding-left: 0px;
}

.cards-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.wwr-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}
.contact-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
  margin-left: 5px;
}
.image-block{
  margin-left: 600px;
  position: relative;
  z-index: 2;
}
.image-grey{
  margin-left: -250px;
  position: absolute;
  z-index: 2;
}
.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 80%;
  height: 100%;
  max-width: none;
  margin-top: 0px;
  padding-bottom: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}
.cards-image-2 {
  position: absolute;
  left: 7%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 79%;
  height: 100%;
  max-width: none;
  margin-top: 0px;
  padding-bottom: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.cards-wwr {
  position: absolute;
  left: 7%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 79%;
  height: 100%;
  max-width: none;
  margin-top: 0px;
  padding-bottom: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}


.image-4 {
  padding-left: 0px;
}

.image-5 {
  padding-left: 47px;
}

.video-people {
  padding-left: 40px;
  width: 350px;
  box-sizing: border-box;
  background-color: #fff !important;
}
.bold-text {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 800;
}

@media screen and (max-width: 991px) {
  .section.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }
  .styleguide-block {
    text-align: center;
  }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button.cc-contact-us {
    display: none;
  }
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .menu-icon {
    display: block;
  }
  .menu {
    position: static;
    margin-left: 30px;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .navigation {
    padding: 25px 30px;
  }
  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .navigation-items {
    background-color: #fff;
  }
  
  .cta-text {
    width: auto;
  }
  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }
  .our-services-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: ". ." ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }
  .service-icon {
    display: inline-block;
  }
  .contact-form-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .get-in-touch-form {
    text-align: left;
  }
  .our-contacts {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .team-members {
    grid-template-areas: ". ." ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .team-member-title-wrap {
    margin-bottom: 30px;
  }
  .project-details-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .blog-detail-header-wrap {
    width: 70%;
  }
  .detail-header-image {
    height: 460px;
  }
  .blog-item {
    width: 80%;
  }
  .blog-preview-image {
    height: 460px;
  }
  .blog-summary-wrap {
    width: 100%;
  }
  .about-grid {
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .about-grid.cc-about-2 {
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .intro-text {
    width: auto;
  }
  .collection-wrap {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog-preview-wrap {
    width: 80%;
    padding-right: 15px;
    text-align: center;
  }
 
  .cards-grid-container {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section.cc-cta {
    padding: 15px;
  }
  .section.cc-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section.cc-store-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }
  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .navigation {
    padding: 20px 30px;
  }
  .cta-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
  .intro-content {
    width: 80%;
  }
  .our-services-grid {
    grid-row-gap: 60px;
    grid-template-areas: "." "." "." "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .status-message.cc-no-data {
    width: 80%;
    max-width: 470px;
  }
  .contact-form-wrap {
    padding: 30px;
  }
  .text-field.cc-contact-field {
    text-align: left;
  }
  .text-field.cc-textarea {
    text-align: left;
  }
  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }
  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }
  .project-name-wrap {
    margin-bottom: 30px;
  }
  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }
  .detail-image {
    margin-bottom: 15px;
  }
  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }
  .blog-item {
    width: 90%;
    max-width: 470px;
  }
  .blog-summary-wrap {
    text-align: center;
  }
  .utility-page-wrap {
    padding: 15px;
  }
  ._404-wrap {
    padding: 30px;
  }
  
  .nav-grid {
    text-align: center;
  }
 
  .feature-section {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
  .feature-image-2 {
    margin-right: auto;
    margin-left: auto;
  }
  .cards-section {
    padding: 40px 20px;
  }
  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }
  .rich-text {
    width: 100%;
    max-width: none;
  }
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
  .menu {
    margin-left: 15px;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .cta-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }
  .status-message.cc-no-data {
    width: 100%;
  }
  .contact-form-grid {
    width: 100%;
  }
  .our-contacts {
    width: 90%;
  }
  .team-members {
    grid-template-areas: "." "." "." "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .project-details-grid {
    width: 100%;
  }
  .blog-detail-header-wrap {
    width: 100%;
    max-width: none;
  }
  .blog-item {
    width: 100%;
    max-width: none;
  }
  .heading {
    padding-right: 61px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  .button-3 {
    margin-right: 40px;
    padding-right: 9px;
  }
 
  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

.footer{
  padding: 40px 20px;
}
.footer-image {
  -o-object-fit: contain;
  object-fit: contain;
}
.footer{
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .centered-container {
    text-align: left;
  }
  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-df11a8fb3b2f-e2ad7953 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-76c147234d34-e2ad7953 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-76c147234d41-e2ad7953 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-76c147234d4c-e2ad7953 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7859856988d2-bfad795a {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-27f88a387918-9bad7962 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27f88a387928-9bad7962 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-76c147234d34-e2ad7953 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-76c147234d41-e2ad7953 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-76c147234d4c-e2ad7953 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-27f88a387928-9bad7962 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-68bff3851919-e2ad7953 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68bff385191b-e2ad7953 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68bff3851920-e2ad7953 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68bff3851922-e2ad7953 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-df11a8fb3b2f-e2ad7953 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #w-node-68bff385190f-e2ad7953 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68bff3851916-e2ad7953 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68bff385191d-e2ad7953 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-7859856988d2-bfad795a {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
@font-face{
font-family: 'Rooney';
font-style: normal;
font-weight: 400;
src: url('../fonts/RooneySansRegular.OTF'); 
src: local(''),
      url('../fonts/RooneySansRegular.OTF') format('opentype'),
      url('../fonts/RooneySansRegular.OTF') format('opentype'), 
      url('../fonts/RooneySansRegular.OTF') format('opentype'),
      url('../fonts/RooneySansRegular.OTF') format('opentype'), 
      url('../fonts/RooneySansRegular.OTF') format('opentype'),
}
@font-face{
  font-family: 'GothamBold';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GothamBold.ttf'); 
}
@font-face{
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/BebasNeue-Regular.ttf'); 
}
  
.label-h{
font-family: 'Gotham', sans-serif;
font-weight: bold;
text-align: center;
padding-bottom: 20px;
color:  black;
}
.label-b{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
text-align: center;
padding-bottom: 30px;
color: black;
text-align: center; 
}


.label-ff{
font-family: 'Montserrat', sans-serif;
font-weight: medium;
text-align: left;
color:  #0F8AE8;
}

.label-ff-1{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-align: center;

}
.label-ff-2{
  font-family: 'Gotham', sans-serif;
  font-weight: medium;
  text-align: left;
  opacity: 0.6;

}

.elementor-button-wrapper{
text-align: center;
box-sizing: border-box;
}

.elementor-button-link{
box-sizing: border-box;
font-family: eesti,Sans-serif;
font-size: 16px;
fill:   #3898EC;
color:  #3898EC;
background-color: transparent;
padding: 0;
width: auto;
box-shadow: none;
text-decoration: none;
border-radius: 3px;
display: inline-block;
line-height: 1;
text-align: center;
transition-property: all;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0s;
}
.elementor-button-content{
box-sizing: border-box;
text-decoration-line: inherit;
text-decoration-style: inherit;
text-decoration-color: inherit;
display: flex;
-webkit-box-pack: center;
justify-content: center;
fill:  #04ADED;
color:  #04ADED;
}

.elementor-button-text{
hyphens: manual;
flex-grow: 1;
-webkit-box-flex: 1;
-webkit-box-ordinal-group: 11;
order: 10;
display: inline-block;
box-sizing: border-box;
font-weight: 600;
}

.iconForward{
transition-property: all;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: 0s;
padding-left: 0;
}
